The *Upper-Rhine and Tributaries Algebraic Geometry Seminar*
is a regular seminar,
jointly organised by
the algebraic geometry groups at the universities of
Basel,
Freiburg,
Lorraine,
Luxembourg,
Saarland,
Strasbourg,
Stuttgart, and
Tübingen.

These are all situated along the <a href="https://en.wikipedia.org/wiki/Upper_Rhine">Upper Rhine</a> and some of its tributaries,
such as the <a href="https://en.wikipedia.org/wiki/Moselle">Moselle</a>,
the <a href="https://en.wikipedia.org/wiki/Meurthe_(river)">Meurthe</a>,
and the <a href="https://en.wikipedia.org/wiki/Neckar">Neckar</a>.

It will alternate between being taking place in the central location of Strasbourg
and one of the other organising universities.
