---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

main {
  background-color: rgba(221, 244, 249, .3);
}

header {
  background-color: #bae6f3;
}

span.menu-icon,
nav.site-nav:has(input:checked) {
  background-color: rgb(221, 244, 249);
}

dl {
  display: flex;
  flex-wrap: wrap;
}

dl dt {
  width: 35%;
  padding-left: 1em;
}

dl dd {
  width: 60%;
}
